:root {
  --blue: #007BFF;
  --green: #1b7741;
  --green-dark: #064e1e;
  --text-dark: #0f172a;
  --card-shadow: rgba(0, 0, 0, 0.1);
}

#planos {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

#planos h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--green);
}

.planos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: stretch;
}

.plano {  --green: #1d855f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid var(--blue); /* azul para bordas principais */
  border-radius: 12px;
  padding: 30px 20px;
  width: 260px;
  box-shadow: 0 10px 25px var(--card-shadow);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.plano:hover {
  transform: translateY(-5px);
  border-color: var(--green);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.preco {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: var(--blue); /* azul nos preços */
}

.plano ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--text-dark);
}

.btn-adesao {
  margin-top: auto;
  background-color: var(--blue); /* azul padrão */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-adesao:hover {
  background-color: var(--green); /* verde ao passar o mouse */
}


@media (max-width: 768px) {
  .planos-container {
    flex-direction: column;
    align-items: center;
  }

  .plano {
    width: 90%;
    margin-bottom: 20px;
  }
}
